<!-- begin::Page loader -->
<!-- end::Page loader -->                      	<!-- begin:: Page -->
<router-outlet></router-outlet>
<!-- end:: Page -->
<app-quick-sidebar></app-quick-sidebar>
<app-scroll-top></app-scroll-top>
<app-tooltips></app-tooltips>
<div id="blockPage" style="display: none" [attr.count]="0">
	<div class="blockUI blockOverlay"></div>
	<div class="blockUI blockMsg blockPage">
		<div class="m-blockui " style="margin-left:-74.3px;">
			<span>Please wait...</span>
			<span>
				<div class="m-loader  m-loader--brand m-loader--lg">
				</div>
			</span>
		</div>
	</div>
</div>
