/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

.m-wizard.m-wizard--2 .m-wizard__head {
  margin: 4rem 0 1rem 0 !important;
}

.m-body .m-content{
  padding: 5px 5px !important;
}

.m-form .m-form__group
{
  padding-top:10px !important;
  padding-bottom:0px !important;
}

.m-form .m-form__help
{
  padding-top: 0px !important;
}

.m-checkbox-form-group-sub {
   padding-top: 30px;
}

.m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-title
{
  font-size: 1.0rem !important;
}

.m-portlet .m-portlet__body {
  padding: 2.2rem 0.4rem !important;
}